body{
    background-color: bisque;
    font-size : 30px;
    font-weight: bold;
    line-height: 1.5cm;
}

.clearfix{
    clear: both;
}


.position-box{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    position: relative;
}

#fixed{
    position: fixed;
    right:0;
    bottom: 200px;

}

.position-box h1{
    position: absolute;
    left:40px;
    top:50px;
}

.position-box h2{
    position: absolute;
    right:40px;
}

a{
    text-decoration:none;
    color:mediumspringgreen;
}
a:hover{
    color: #2a6496;
}
a:visited{
    color:violet;
}

button{
    background-color: #2F4F4F;
    color:whitesmoke;
    padding: 10px 5px;
}
button:hover{
    background-color:blue;
}

button:active{
    background-color: whitesmoke;
}

button:visited{
    background-color:red;
}
<!--选择id-->
#intro {
   color: white;
   background-color: gray;
}
<!--选择标签-->
h1{
    color:re;
    background-color: gray;
}

<!--选择class-->
.box1{
    color:red;

}

<!--选择class-->
.container{
    position: absolute;
}
.box2 {
    color:red;
    border-radius: 35px;
    font-size: 2px;
    padding: 20px;
    margin-top: 20px 0;
    position: absolute;
    top:10px;
    left:10px;
}


.box1 p{
    color:chartreuse;
    border: 5px blue solid;
    border-right: 5px red solid;
    border-left: 8px blue solid;
    border-top:10px green dotted;
    border-bottom: 5px firebrick double;
    border-bottom-style: dash;
    font-style: italic;
    font-weight: 1000;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 1em;
    word-spacing: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    border-radius: 20px;

}

.box2 p{
    color:red;
    border:10px dotted red;
    

}

.first { 
    font-size: 150%;
    color:red;
    margin: 2px;
}

#intro .first em {
   color: pink; 
   background-color:gray;
}

.list li{
    /*background-color:red;*/
    list-style-image:url('../image/c.png');
    /*list-style: square;*/
    
}
<!--需要调整大小-->
.box2 h1{
    text-align: center;
}

.block{
    float:left;
    width:33.3%;
    border:1px solid red;
    box-sizing: border-box;
}

#main-block{
    float: left;
    width: 70%;
    border:1px solid red;
    box-sizing: border-box;

}
#sidebar{
    float: right;
    width: 30%;
    border:1px solid green;
    box-sizing: border-box;/*解决加边框后的自动换行*/
}


.list2 li:nth-child(even){
    background-color: gray;
}
.list2 li:first-child{
    background-color: red;
}
.list2 li:last-child{
    background-color: blue;
} 

.list2 li:nth-child(3){
    background-color: blueviolet;
}

